<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>tienda de vinos</title>
        <!-- Bootstrap -->
        <link href="css/bootstrap-4.4.1.css" rel="stylesheet">
        <link rel="shortcut icon" type="image/png" href="images/favicon2.png"/>  
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="inicio">tiendadevinos</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="inicio">Inicio</a>
                        </li>	
                        <li class="nav-item dropdown active">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Productos</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="tintos">Tintos</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="espumantes">Espumantes</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="rosados">Rosados</a>
                            </div>
                        </li>  
                        <li class="nav-item active">
                            <a class="nav-link" href="listaBodegas">Bodegas</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link " href="#">Nosotros</a>
                        </li>  
                        <li class="nav-item dropdown active">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Usuario</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Registro</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="login.html">Login</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <hr>
        <h2 class="text-center">VINOS BLANCOS</h2>
        <hr>
        <div class="container">
            <div class="row text-center">
                <div class="col-md-4 pb-1 pb-md-0">
                    <div class="card">
                        <img class="card-img-top" src="images/vinotinto1.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Agregar&nbsp;</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 pb-1 pb-md-0">
                    <div class="card">
                        <img class="card-img-top" src="images/vinotinto2.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Agregar&nbsp;</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 pb-1 pb-md-0">
                    <div class="card">
                        <img class="card-img-top" src="images/vinotinto1.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Agregar&nbsp;</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row text-center mt-4">
                <div class="col-md-4 pb-1 pb-md-0">
                    <div class="card">
                        <img class="card-img-top" src="images/400X200.gif" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Agregar&nbsp;</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 pb-1 pb-md-0">
                    <div class="card">
                        <img class="card-img-top" src="images/400X200.gif" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Agregar&nbsp;</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 pb-1 pb-md-0">
                    <div class="card">
                        <img class="card-img-top" src="images/400X200.gif" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Agregar&nbsp;</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="container text-white bg-dark p-4">
            <div class="row">
                <div class="col-6 col-md-8 col-lg-7">
                    <div class="row text-center">
                        <div class="col-sm-6 col-md-4 col-lg-4 col-12">
                            <ul class="list-unstyled">
                                <li> <a class="btn-link" href="bodega">Bodega López</a> </li>
                                <li> <a class="btn-link" href="bodega">Bodega Bianchi</a> </li>
                                <li> <a class="btn-link" href="bodega">Bodega Escorihuela</a> </li>
                                <li> <a class="btn-link" href="bodega">Bodega Trapiche</a> </li>
                                <li> <a class="btn-link" href="bodega">Bodega Piattelli</a> </li>
                            </ul>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-4 col-12">
                            <ul class="list-unstyled">
                                <li> <a class="btn-link" href="bodega">Bodega Santa Julia</a> </li>
                                <li> <a class="btn-link" href="bodega">Bodega Séptima</a> </li>
                                <li> <a class="btn-link" href="bodega">Bodega Cicchitti</a> </li>
                                <li> <a class="btn-link" href="bodega">Bodega Zuccardi</a> </li>
                                <li> <a class="btn-link" href="bodega">Bodega Pulenta</a> </li>
                            </ul>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-4 col-12">
                            <ul class="list-unstyled">
                                <li> <a class="btn-link" href="bodega">Bodega Crotta</a> </li>
                                <li> <a class="btn-link" href="bodega">Bodega Cafayate</a> </li>
                                <li> <a class="btn-link" href="bodega">Bodega Trivento</a> </li>
                                <li> <a class="btn-link" href="bodega">Bodega Tempus</a> </li>
                                <li> <a class="btn-link" href="bodega">Bodega Alta Vista</a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-5">
                    <address>
                        <strong>TiendaDeVinos, Inc.</strong><strong> // Mesa 1</strong><br>
                        Berutti 6000<br>
                        Maipú, MENDOZA - Argentina, CP.5513<br>
                        <abbr title="Phone">Tel:</abbr> (261) 580-9090
                        <a href="mailto:tiendadevinos@tiendavinos.com">tiendadevinos@tiendavinos.com</a>
                    </address>
                </div>
            </div>
        </div>
        <footer class="text-center">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <p>Copyright © tiendadevinos. Derechos reservados.</p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="js/jquery-3.4.1.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap-4.4.1.js"></script>
    </body>
</html>