<!doctype html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>tienda de vinos</title>
        <link rel="shortcut icon" type="image/png" href="images/marca.png"/>

        <link href="css/bootstrap-4.4.1.css" rel="stylesheet">
        <link href="css/formulario.css" rel="stylesheet">
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
                <a class="navbar-brand" href="inicio">TIENDA DE VINOS</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="inicio"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-house-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M8 3.293l6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                                <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
                                </svg> Inicio</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container-formulario">
            <div class="text-center"><br>
                <br>
                <br>
                <img class="mb-3" src="images/marcas tienda vinos.svg" alt="" width="72" height="72">
                <h2 class="card-header"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-box-seam" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5l2.404.961L10.404 2l-2.218-.887zm3.564 1.426L5.596 5 8 5.961 14.154 3.5l-2.404-.961zm3.25 1.7l-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443.184z"/>
                    </svg> Cargar Producto</h2>
                <p class="lead">Formulario de carga de producto</p>
            </div>
            <form class="needs-validation card-body" method="POST" action="/cargarProducto"  enctype="multipart/form-data">
                <div class="row justify-content-md-center">
                    <div class="row">

                        <div class="col-12 md-6 mb-3">
                            <h5><label>Bodega</label></h5>
                            <select th:field="${vino.proveedor}" >
                                <option th:each="proveedor : ${proveedores}"
                                        th:value="${proveedor.id}"                                
                                        th:text="${proveedor.nombre}"
                                        ></option>        
                            </select>  
                        </div>     


                        <div class="col-12 md-6 mb-3">
                            <h5><label for="marca">Marca</label></h5>                            
                            <input type="text" class="form-control" th:field="${vino.marca}" required>
                            <p class="error" th:errors="${vino.marca}" style="color: red;"></p>
                        </div>

                        <div class="mb-3 col-12 md-6 mb-3">
                            <h5><label for="descripcion">Descripción</label></h5>
                            <div class="form-group">
                                <textarea class="form-control" th:field="${vino.descripcion}" id="descripcion" rows="2" required></textarea>
                                <p class="error" th:errors="${vino.descripcion}" style="color: red;"></p>
                            </div>
                        </div>

                        <div class="col-12 md-6 mb-3">
                            <h5><label for="cosecha">Año cosecha</label></h5>
                            <input type="number" class="form-control" id="cosecha" th:field="${vino.cosecha}" required>
                            <p class="error" th:errors="${vino.cosecha}" style="color: red;"></p>
                        </div>

                        <div class="col-12 md-6 mb-3">
                            <div class="form-group">
                                <h5><label for="varietal">Varietal</label></h5>
                                <select class="form-control" th:field="${vino.varietal}" required>
                                    <option th:each="varietal : ${varietales}" 
                                            th:value="${varietal}"
                                            th:text="${varietal.nombre}">   
                                    </option>
                                </select>
                                <p class="error" th:errors="${vino.varietal}" style="color: red;"></p>
                            </div>

                            <div class="col-12 md-6 mb-3">
                                <h5><label for="precio">Precio</label></h5>
                                <input type="number" class="form-control" id="cosecha" th:field="${vino.precio}" required>
                                <p class="error" th:errors="${vino.precio}" style="color: red;"></p>
                            </div>


                            <div class="col-12 md-6 mb-3">
                                <h5><label for="cantidad">Cantidad</label></h5>
                                <input type="number" class="form-control" id="cosecha" th:field="${vino.cantidad}" required>
                                <p class="error" th:errors="${vino.cantidad}" style="color: red;"></p>
                            </div>

                            <div class="form-group col-12 md-6 mb-3">
                                <h5><label for="foto">Cargar foto del producto</label></h5>
                                <input type="file" class="form-control-file" name="archivo" required>
                            </div>
                        </div>

                    </div>
                    <div class="form-group col-12 md-6 mb-3">
                        <hr class="mb-4">
                        <button class="btn btn-lg btn-info" type="submit" ><svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-box-arrow-in-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M4.646 7.854a.5.5 0 0 0 .708 0L8 5.207l2.646 2.647a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 0 0 0 .708z"/>
                            <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-1 0v9a.5.5 0 0 0 .5.5z"/>
                            <path fill-rule="evenodd" d="M1.5 2.5A1.5 1.5 0 0 1 3 1h10a1.5 1.5 0 0 1 1.5 1.5v8A1.5 1.5 0 0 1 13 12h-1.5a.5.5 0 0 1 0-1H13a.5.5 0 0 0 .5-.5v-8A.5.5 0 0 0 13 2H3a.5.5 0 0 0-.5.5v8a.5.5 0 0 0 .5.5h1.5a.5.5 0 0 1 0 1H3a1.5 1.5 0 0 1-1.5-1.5v-8z"/>
                            </svg>Cargar Producto
                        </button>
                    </div>    
                </div>
            </form>

            <footer class="my-5 pt-5 text-muted text-center text-small">
                <p class="mb-1">2020 - Tienda de Vinos</p>
            </footer>

        </div>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="../assets/dist/js/bootstrap.bundle.js"></script>
        <script src="js/formulario-validacion.js"></script>
        <script src="js/jquery-3.4.1.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap-4.4.1.js"></script>
    </body>
</html>
