<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>tienda de vinos</title>
<link href="css/bootstrap-4.4.1.css" rel="stylesheet" type="text/css">
<link rel="shortcut icon" type="image/png" href="images/favicon2.png"/>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="#">tiendadevinos</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link " href="inicio">Inicio</a>
            </li>  
          </ul>
        </div>
      </div>
    </nav>
<form class="formulario-form" action="/registrar" method="POST"><br>
  <h2>Registro</h2>
  <div class="form-group">
    <p>
      <label for="exampleInputEmail1">Nombre</label>
      <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Ingrese su Nombre">
    </p>
    <br>
    <p>
      <label for="exampleInputEmail2">Apellido</label>
      <input type="text" class="form-control" id="exampleInputEmail2" placeholder="Ingrese su Apellido">
    </p>
    <br>
    <p>
      <label for="exampleInputEmail3">Edad</label>
      <input type="number" class="form-control" id="exampleInputEmail3" placeholder="Ingrese su Edad">
    </p>
    <br>
    <p>
      <label for="exampleInputEmail5">Telefono</label>
      <input type="number" class="form-control" id="exampleInputEmail5" placeholder="Ingrese su Num de telefono">
    </p>
    <br>
    <p>
      <label for="exampleInputEmail4">Correo</label>
      <input type="email" class="form-control" id="exampleInputEmail4" placeholder="Ingrese su Correo">
    
  </div>
  <br>
  <div class="form-group">
    <p>
      <label for="exampleInputPassword1">Contraseña</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Ingrese su Contraseña">
    </p>
    <br>
    <p>
      <label for="exampleInputPassword2">Repetir contraseña</label>
      <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Repita su Contraseña">
    </p>
  </div>
  <br>
  <div class="form-check">
    <p>Estoy de acuerdo con <a href="#">Terminos y condiciones</a></p>
    <button type="submit" class="btn btn-primary">Registrar</button>
  </div>
  <p><a href="/login">¿Ya tengo Cuenta?</a></p>
</form>
<script src="js/jquery-3.4.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap-4.4.1.js"></script>
	
</body>
</html>
