<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tienda de vinos</title>
    <link href="css/bootstrap-4.4.1.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" type="image/png" href="images/favicon2.png" />
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">tiendadevinos</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link " href="inicio">Inicio</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="form-register">
        <form class="formulario-form" action="/registro" method="post"><br>
            <h4>REGISTRO</h4>
            <label>Nombre </label>
            <input class="controls" th:field="${cliente.nombre}" placeholder="Ingrese su Nombre" />
            <p class="error" th:errors="${cliente.nombre}" style="color: red;"></p>
            <label>Apellido</label>
            <input class="controls" th:field="${cliente.apellido}" placeholder="Ingrese su Apellido">
            <p class="error" th:errors="${cliente.apellido}" style="color: red;"></p>
            <label>Edad </label>
            <br>
            <input class="controls" th:field="${cliente.edad}" placeholder="Ingrese su Edad">
            <p class="error" th:errors="${cliente.edad}" style="color: red;"></p>
            <label>Telefono </label>
            <input class="controls" th:field="${cliente.telefono}"
                placeholder="Ingrese su Num de telefono">
            <p class="error" th:errors="${cliente.telefono}" style="color: red;"></p>
            <label>Correo</label>
            <br>
            <input class="controls" th:field="${cliente.email}" placeholder="Ingrese su Correo">
            <p class="error" th:errors="${cliente.email}" style="color: red;"></p>
            <label>Contraseña</label>
            <br>
            <input type="password" class="controls" th:field="${cliente.password}" placeholder="Ingrese su Contraseña">
            <p class="error" th:errors="${cliente.password}" style="color: red;"></p>
            <p>Estoy de acuerdo con <br><a href="#">Terminos y condiciones</a></p>
            <input class="controls" type="submit" name="btn btn-primary" value="Registrar"/>
            <p><a href="/login">¿Ya tengo Cuenta?</a></p>
        </form>
    </section>
    <hr>
    <br>
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap-4.4.1.js"></script>

</body>

</html>