<!doctype html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Webwine</title>
  <link th:href="@{/css/bootstrap-4.4.1.css}" rel="stylesheet" type="text/cs">
  <link rel="shortcut icon" type="image/png" href="images/favicon2.png" />

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/index.html">tiendadevinos</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link " href="inicio.html">Inicio</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <br>
  <br>
  <form class="col-xl-12">
      <div class="form-group">
        <h1>Registro</h1>
        <form action="/registro" method="post" id="form">
          <label for="Nombre"> Nombre</label>
          <input type="text" class="form-control" id="Nombre" placeholder="Ingrese su nombre">
          <label for="Apellido">Apellido</label>
          <input type="text" class="form-control" id="apellido" placeholder="Ingrese su Apellido">
          <label for="Edad"> Edad</label>
          <input type="number" class="form-control" id="Edad" placeholder="ingrese su edad">
          <label for="Telefono"> Telefono</label>
          <input type="number" class="form-control" id="Telefono" placeholder="ingrese su Telefono">
          <label for="Correo">Correo Electronico</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="ingrese dirección de correo">
          <label for="exampleInputPassword1">Clave</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="ingrese la clave">
          <label for="exampleInputPassword1">Repite la Contraseña</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Repita la clave">
          <br>
          <p>Estoy de acuerdo con <a href="#">Terminos y Condiciones</a> </p>
          <button type="submit" class="btn btn-primary">Registrate</button>
          <br>
          <br>
          <p><a href="/login">¿Ya tengo Cuenta?</a></p>
      </div>
    <br>
    <br>
  </form>
  <script src="js/jquery-3.4.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap-4.4.1.js"></script>

</body>

</html>